    body {
        background-color: #40c3e4;
    }

    .table {
        border-collapse: collapse;
        width: 100%;
    }

    .table td {
        padding: 8px;
        text-align: center;
    }

    .table a {
        display: inline-block;
        padding: 20px;
        width: 50%;
        background-color: #2617fa;
        color: #fff;
        text-decoration: none;
        text-align: center;
    }
    
    .table a.stock {
        background-color: #fd9023;
        padding: 200px;
    }