form {
    margin-top: 20px;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

.table {
    margin-top: 20px;
    width: 100%;
}

.table td {
    padding: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #FFB6C1;
    /* Color rosado */
    border-radius: 4px;
}

.btn-primary {
    margin-right: 10px;
}

.btn-warning {
    background-color: #FFB6C1;
    /* Color rosado */
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-warning:hover {
    background-color: #FF69B4;
    /* Color rosado más claro al pasar el mouse */
}

input.btn.btn-primary {
    background-color: #FFB6C1;
    /* Color rosado */
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

input.btn.btn-primary:hover {
    background-color: #FF69B4;
    /* Color rosado más claro al pasar el mouse */
}

select {
    width: 100%;
    padding: 5px;
    border: 1px solid #FFB6C1;
    /* Color rosado */
    border-radius: 4px;
    background-color: white;
    color: #555555;
}

select option {
    background-color: white;
    color: #555555;
}

select option[selected] {
    font-weight: bold;
}

select:hover,
select:focus {
    border-color: #FF69B4;
    /* Color rosado más claro al pasar el mouse o al estar enfocado */
    outline: none;
}