.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFB6C1;
    border-color: #c38b93;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #FF69B4;
}



.form-control {
    display: inline-block;
    width: 200px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #FFB6C1;
    background-color: #FFF0F5;
}

.btn-primary {
    margin-left: 5px;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    padding: 10px;
    border-color: 10px solid #FFB6C1;
    background-color: #FFF0F5;
}

.pagination {
    margin: 10px 0;
    text-align: center;
}

.pagination .page-item {
    display: inline-block;
    margin: 2px;
}

.pagination .page-link {
    padding: 5px 10px;
    background-color: #FFB6C1;
    /* Color rosado */
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.pagination .page-link:hover {
    background-color: #FF69B4;
}